/** {*/
/*    outline: 1px solid limegreen !important;*/
/*}*/

html {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

a {
    color: black;
}

#options-list {
    position: absolute;
    bottom: 60px;
    display: none;
}

.options {
    border-right: 1px solid #F4F5F6;
    padding-right: 20px;
    line-height: 2.5rem;
}

.options-list {
    margin: 2px 0 0;
    list-style: none;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: white;
    padding: .5rem 0;
}

.options-list li {
    line-height: 1rem;
    padding: .5rem;
    cursor: pointer;
    text-decoration: none;
}

.options-list li a:visited {
    text-decoration: none;
    color: black;
}

.options-list li:hover {
    background-color: #e5e5e5;
}

.page-actions {
    display: flex;
    gap: .75em;
}

.options button, .page-actions button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0d1940;
    color: white
}

.page-actions button {
    background-color: #344272;
    color: white
}

.page-actions button:disabled {
    background-color: gray;
    color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    border: none;
}

.page-actions button:hover {
    background-color: #54618D;
}

#messages {
    position: absolute;
    right: 10px;
    width: 200px;
    list-style-type: none;
    line-height: 3rem;
    background-color: #8ada8a;
    color: green;
    padding-left: 20px;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.alert-success {
    color: green

}

.wrapper {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: 300px;
    height: 100vh;
    color: white;
    background-color: #040C26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfd;
    color: black;
    flex-grow: 1;
    padding: 50px 100px 50px 100px;
    overflow: hidden;
}

.content-table, .content-form {
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 2em;
}

.content-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.std-thead {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 2em;
    align-items: center;
    padding-bottom: .5rem;
}

.std-th {
    width: 100%;
}

.std-tr {
    display: flex;
    font-size: 1rem;
    min-height: 2rem;
    border-top: 1px solid #e8e8e8;
    align-items: center;
}

.std-tr:last-child {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.std-td {
    width: 100%;
}

.std-body {
    max-height: 25rem;
    display: block;
    overflow: auto;
}

.th-id, .std-td-id {
    padding-left: 1rem;
    max-width: 10rem;
}

.selected {
    background-color: #54618D;
    color: white;
    font-weight: bold;
}

.scrollable {
    overflow: auto;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

.scrollable::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.footer {
    width: 100%;
    height: 60px;
    color: white;
    border-top: 1px solid #F4F5F6;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.accordion-menu {
    width: 100%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #0D1940;
}

.accordion-menu li.open .dropdownlink {
    color: #CDDC39;
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdown-link {
    cursor: pointer;
    display: flex;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    color: white;
    position: relative;
}

.accordion-menu > li:hover {
    background-color: #54618D;
}

.no-dropdown-link {
    cursor: pointer;
    display: flex;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    color: white;
    position: relative;
}

.no-dropdown-link-text {
    padding: 0 0 0 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* this will center the item vertically within the container */
}

.dropdown-link-text {
    padding: 0 0 0 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* this will center the item vertically within the container */
}

.dropdown-link i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdown-link .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenu-Items {
    display: none;
    background: #344272;
}

.submenu-Items a {
    display: block;
    color: white;
    padding: 12px 12px 12px 45px;
}

.submenu-Items a:hover {
    background-color: #54618D;
}

.menu-img {
    width: 25px;
}

#deactivate:disabled, #delete:disabled {
    background-color: gray;
}

#delete {
    background-color: #bb3838;
}

#deactivate {
    background-color: #917233;
}

#new, #save {
    background-color: #38853d;
}

.login-logout {
    margin-bottom: 0;
}

.login-logout:hover {
    background-color: #54618D;
}