.filter-container, .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.filter-container:nth-child(n+2) {
    margin-left: 2em;
}

.chosen-value {
    background-color: #e5e8eb;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 4px;
    min-height: 3em;
    outline: none;
    padding: 0 16px;
    line-height: normal;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    box-sizing: border-box;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.chosen-form-value--focused {
    background-color: #ffffff;
    -webkit-appearance: none;
    -webkit-box-shadow: #4693f8;
    box-shadow: #4693f8;
    box-sizing: border-box;
    border: 2px solid #4693f8;
}

.values-list {
    list-style: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 0;
    transition: .3s ease-in-out;
}

.values-list.open {
    max-height: 60em;
    overflow: auto;
}

.chosen-value, .values-list {
    width: 20rem;
    overflow: auto;
}

.dropdown-list-option {
    background-color: #fafcfd;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
}

.dropdown-list-option:hover {
    background-color: #e5e8eb;
}

.dropdown-list-option.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}

.std-td-short-message, .th-short-message {
    min-width: 60% !important
}

.th-created-at {
    min-width: 160px;
}

.th-id, .std-td-id {
    min-width: 80px;
    max-width: 80px;
}

.th-ticket-id, .std-td-ticket-id {
    min-width: 130px;
    max-width: 130px;
}

.std-td {
    line-height: 2em;
}

.filter-wrapper {
    display: flex;
    margin-top: 2em;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-item-label {
    font-size: 1rem;
    padding-bottom: 0.25em;
    font-weight: bold;
}

.form-item-input-text, .form-item-input-number, .form-item-input-datetime {
    background-color: #e5e8eb;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    border-radius: 4px;
    min-height: 3em;
    outline: none;
    padding: 0 16px;
    line-height: normal;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.form-item-input-text, .form-item-input-number{
    min-width: 10em;
}

.form-item-input-datetime {
    min-width: 10em;
}

.form-item-input-text:focus, .form-item-input-text--focused,
.form-item-input-number:focus, .form-item-input-number--focused,
.form-item-input-datetime:focus, .form-item-input-datetime--focused {
    background-color: #ffffff;
    -webkit-appearance: none;
    -webkit-box-shadow: #4693f8;
    box-shadow: #4693f8;
    box-sizing: border-box;
    border: 2px solid #4693f8;
}

.std-td-arrow, .th-arrow {
    width: 16px;
}

.th-short-message, .std-td-short-message, .std-td-arrow, .th-arrow{
    padding-right: 20px;
}

.json-row {
    background-color: #f3f3f3;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 99%;
    line-height: 1em;
    border-radius: 10px;
}

pre {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    word-wrap: break-word;
    font-size: 12px;
}

#search, #clearFilters {
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    min-height: 42px;
    min-width: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

#clearFilters {
    background-color: #9aa9bc;
}

#search {
    background-color: #344272;
}


.option-container:hover {
    background-color: #54618D;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.option-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.option-container:first-child {
    border-top: 1px solid lightgray;
}

.list-option:nth-child(2) {
    width: calc(100% - 20em);
}

.list-option {
    line-height: 2em;
    font-weight: inherit;
    width: 20em;
}

.users-values-list {
    position: fixed;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

.std-tr:last-child {
    border-bottom: 0;
}

.row-container {
    cursor: pointer;
}

.std-tr {
    height: 4em;
}

.full-message-container {
    height: 100%;
}

#tbody {
    min-height: calc(100vh - 400px);
}