{% extends "template.html" %}
{% block conteudo %}

<div class="container">
    <div class="main-content">
        <h1>Grupos</h1>
        <table class="std-table" id="contentTable">
            <thead class="std-thead">
                <tr class="std-tr">
                    <th class="std-th">ID</th>
                    <th class="std-th">Nome</th>
                    <th class="std-th"># Usuários</th>
                </tr>
            </thead>
            <tbody class="std-tbody">
                {% for group in groups %}
                <tr class="std-tr" data-id="{{ group.id }}">
                    <td class="std-td">{{ group.id }}</td>
                    <td class="std-td">{{ group.name }}</td>
                    <td class="std-td">{{ group.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="footer">
        <div class="footer-items">
            <div class="options">
                <ul class="options-list" id="options" style="display:none">
                    <li><a href="/get-groups">Atualizar Grupos</a></li>
                    <li><a href="/get-group-memberships">Atualizar relação de Grupos e Usuários</a></li>
                </ul>
                <button onclick="toggleOptions()">Opções</button>
            </div>
            <div class="page-actions">
                <button id="edit" disabled>Ver integrantes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}