{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        <div class="main-content">
            <h1>Grupos</h1>
            <div id="contentTable" class="content-table">
                <div class="std-table" id="std-table">
                    <div class="std-thead" id="thead">
                        <span class="std-th th-id" data-sortby="id">ID</span>
                        <span class="std-th th-zendesk-group-id" data-sortby="zendesk_group_id">ID do Grupo no Zendesk</span>
                        <span class="std-th th-name" data-sortby="name">Nome</span>
                        <span class="std-th th-count" data-sortby="count"># Usuários</span>
                    </div>
                    <div class="std-body scrollable" id="tbody">
                        {% for group in groups %}
                            <div class="std-tr" data-id="{{ group.id }}">
                                <span class="std-td std-td-id">{{ group.id }}</span>
                                <span class="std-td std-td-zendesk-group-id">{{ group.zendesk_group_id }}</span>
                                <span class="std-td std-td-name">{{ group.name }}</span>
                                <span class="std-td std-td-count">{{ group.count }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <ul class="options-list" id="options-list">
                        <li id="updateGroups"><a href="/get-groups">Atualizar grupos</a></li>
                        <li id="updateGroupMemberships"><a href="/get-all-group-memberships">Atualizar relação de grupos e usuários</a></li>
                    </ul>
                    <button onclick="toggleOptions()">Opções</button>
                </div>
                <div class="page-actions">
                    <div><button id="seeUsers" disabled="disabled">Ver integrantes</button></div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/groups.js"></script>

{% endblock %}