<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zendesk Routing</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>

    <div class="wrapper">
        <div class="title-container">
            <img class="login-logo" src="/static/img/favicon.png" alt="logo">
            <h1 class="login-title">Login</h1>
        </div>
        <form action="{{ url_for('login') }}" method="post" class="login-form">
            {{ form.hidden_tag() }}
            <div class="email-container">
                {{ form.email.label }}
                {{ form.email(size=255) }}
            </div>
            <div class="password-container">
                {{ form.password.label }}
                {{ form.password(size=255) }}
            </div>
            <div class="submit-container">
                {{ form.submit() }}
            </div>
        </form>

        <div class="create-password-container">
            <a href="{{ url_for('forgot_password') }}"><button id="createPassword" class="create-password-button">Esqueci minha senha!</button></a>
        </div>

    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="messages" class="list-unstyled {{ category }}">
                    <p class="alert">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}




</body>
</html>