{% extends "template.html" %}
{% block content %}

    <link rel="stylesheet" href="/static/css/logs.css">

    <div class="container" onload="formatJSON()">
        <div class="main-content">
            <h1>Logs</h1>

            <div class="filter-wrapper">

                <div class="filter-container">
                    <label for="ticketIdInput" class="form-item-label">ID do Ticket</label>
                    <input class="form-item-input-number" min="0" type="number" id="ticketIdInput" placeholder="Digite" autocomplete="false">
                </div>

                <div id="ticketFormsWrapper" class="filter-container">
                    <label for="userInput" class="form-item-label">Usuário</label>
                    <div class="dropdown-users-list">
                        <label aria-label="Selecione">
                            <input id="userInput" class="chosen-value chosen-form-value" type="text" value="" placeholder="Selecione" autocomplete="false">
                        </label>
                        <ul id="users" class="users-values-list values-list scrollable">
                            {% for user in kwargs['users'] %}
                                <li class="user-dropdown-list-option dropdown-list-option" id={{ user.id }} value={{ user.id }}>{{ user.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="filter-container">
                    <label for="createdAtInitial" class="form-item-label">Data Inicial</label>
                    <input class="form-item-input-datetime" type="datetime-local" id="createdAtInitial" step="1">
                </div>

                <div class="filter-container">
                    <label for="createdAtFinal" class="form-item-label">Data Final</label>
                    <input class="form-item-input-datetime" type="datetime-local" id="createdAtFinal" step="1">
                </div>

                <div class="filter-container"><button id="search">Pesquisar</button></div>

                <div class="filter-container"><button id="clearFilters">Limpar</button></div>

            </div>

            <div id="contentTable" class="content-table">
                <div class="std-table" id="std-table">
                    <div class="std-thead" id="thead">
                        <span class="std-th th-id" data-sortby="id">ID</span>
                        <span class="std-th th-ticket-id" data-sortby="ticket_id">ID do Ticket</span>
                        <span class="std-th th-user-name" data-sortby="user_name">Usuário</span>
                        <span class="std-th th-short-message" data-sortby="short_message">Mensagem</span>
                        <span class="std-th th-created-at" data-sortby="created_at">Criação</span>
                        <span class="std-th th-arrow"></span>
                    </div>



                    <div class="std-body scrollable" id="tbody">
                        {% for logs in kwargs['list_of_logs'] %}
                            <div class="row-container" id="{{ logs['log_id'] }}">
                                <div class="std-tr" data-id="{{ logs['log_id'] }}">
                                    <span class="std-td std-td-id">{{ logs['log_id'] }}</span>
                                    <span class="std-td std-td-ticket-id">{{ logs['ticket_id'] }}</span>
                                    <span class="std-td std-td-user-name">{{ logs['user_name'] }}</span>
                                    <span class="std-td std-td-short-message">{{ logs['short_message'] }}</span>
                                    <span class="std-td std-td-created-at">{{ logs['created_at'] }}</span>
                                    <object class="std-td std-td-arrow" data="/static/svg/arrow-down.svg" type="image/svg+xml"></object>

                                </div>
                                <div class="full-message-container">
                                    <span class="std-td std-td-json-row json-row" style="display: none">{{ logs['full_message'] }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer"></div>

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script id="logsJs" src="/static/js/logs.js"></script>
    <script id="logsSearchJs" src="/static/js/logs_search.js"></script>


{% endblock %}