<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zendesk Routing - Recuperação de senha</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/forgot-password.css">
</head>
<body>

    <div class="wrapper">
        <div class="title-container">
            <img class="login-logo" src="/static/img/favicon.png" alt="logo">
            <h1 class="login-title">Redefinição de senha</h1>
        </div>
        <div class="user-info-container">
            <form action="{{ url_for('reset_password', request_uuid=kwargs['current_request_uuid']) }}" method="POST" enctype="multipart/form-data">
                <fieldset class="profile-fieldset">
                    <div class="user-general-info-wrapper">
                        <div class="user-information-segment">
                            {{ kwargs['form'].csrf_token }} <!-- Cross Site Request Forgery prevention -->
                            <div class="user-password-container user-data-container" id="userPasswordContainer">
                                {{ kwargs['form'].new_password.label(class="user-new-password-title field-label", for="newPasswordInput") }}
                                {{ kwargs['form'].new_password(class="form-item-input-text rule-input", type="password", id="newPasswordInput", placeholder="Nova senha") }}
                            </div>
                            <div class="user-password-confirmation-container user-data-container" id="userPasswordConfirmationContainer">
                                {{ kwargs['form'].new_password_confirmation.label(class="user-new-password-confirmation-title field-label", for="newPasswordConfirmationInput") }}
                                {{ kwargs['form'].new_password_confirmation(class="form-item-input-text rule-input", type="password", id="newPasswordConfirmationInput", placeholder="Confirmação da nova senha") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group buttons">
                        {{ kwargs['form'].save(class="btn btn-primary save-password-reset", id="save") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="messages" class="list-unstyled">
                {% for category, message in messages %}
                    <p class="alert {{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</body>
</html>