{% extends "template.html" %}
{% block conteudo %}

    <link rel="stylesheet" href="/static/css/routes_new.css">

    <label>
        <input id="routeId" hidden="hidden" value="{{ route_id }}">
    </label>

    <div class="container">
        <div class="main-content">
            <h1>Nova rota</h1>
            <table class="wizard">
                <tr>
                    <th class="wizard-header wizard-step clickable selected" rowspan="2" id="routeInfoAndRecipients">Dados e destinatários da rota</th>
                    <th class="wizard-header wizard-step" colspan="2" id="routeTicketHeader">Tickets da rota</th>
                </tr>
                <tr>
                    <td class="wizard-step clickable" id="routeTicketLocales">Localidades</td>
                    <td class="wizard-step clickable" id="routeTicketGroups">Grupos</td>
                </tr>
            </table>
            <div class="content-form scrollable">
                <div class="content-form-container">
                    <div id="routeInfoAndRecipientsContainer">
                        <h2>Dados da rota</h2>
                        <div id="routeData" class="content-form-header">
                            <div class="form-item form-item-status">
                                <h3 class="route-status-title">Status da rota</h3>
                                <div onclick="toggleCheckbox()" class="status-container" id="routeStatusWrapper">
                                    <input type="checkbox" id="routeStatus" class="active-input" checked="checked"/>
                                    <label id="active-label" class="active-label" for="routeStatus"></label>
                                </div>
                            </div>

                            <div class="form-item form-item-status">
                                <h3 class="route-name-title">Nome da rota</h3>
                                <div class="name-container" id="routeNameWrapper">
                                    <input type="text" id="routeName" class="form-item-input-text"/><label class="route-name-input" for="routeName"></label>
                                </div>
                            </div>
                        </div>


                        <h2>Destinatários da rota</h2>
                        <div id="routeUsers" class="content-form-body">
                            <div class="content-container">
                                <h3>Selecione o tipo de destinatário</h3>
                                <div class="selector-container">
                                    <div class="selector-option-container">
                                        <input class="radio-selector" type="radio" id="recipient-users" name="ticket-recipient-type" value="recipient-users">
                                        <label class="radio-selector-label" for="recipient-users">Usuários</label>
                                    </div>
                                    <div class="selector-option-container">
                                        <input class="radio-selector" type="radio" id="recipient-groups" name="ticket-recipient-type" value="recipient-groups">
                                        <label class="radio-selector-label" for="recipient-groups">Grupos</label>
                                    </div>
                                </div>

                                <div id="recipientsUsersListContainer" class="options-container-wrapper recipient-users-container recipients-container" hidden="hidden">
                                    <h4>Selecione quais usuários receberão os tickets</h4>
                                    <div class="options-container">
                                        <div class="options-title-container">
                                            <div class="options-title">Nome do Usuário</div>
                                        </div>
                                        <div class="option-wrapper">
                                            {% for user in recipient_users %}
                                                <div class="option-container js-user-option-container">
                                                    <option class="option list-option" id={{ user.zendesk_users_id }} value={{ user.zendesk_users_id }}>{{ user.name }}</option>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div id="recipientsGroupsListContainer" class="options-container-wrapper recipient-groups-container recipients-container" hidden="hidden">
                                    <h4>Selecione os grupos cujos membros receberão os tickets</h4>
                                    <div class="options-container">
                                        <div class="options-title-container">
                                            <div class="options-title">Nome do Grupo</div>
                                            <div class="options-title">Usuários no Grupo</div>
                                        </div>
                                        <div class="option-wrapper">
                                            {% for group in recipient_groups %}
                                                <div class="option-container js-group-option-container">
                                                    <option class="option list-option" id={{ group.id }} value={{ group.id }}>{{ group.name }}</option>
                                                    <div class="option list-option">{{ group.users }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="routeTicketsContainer" hidden="hidden">
                        <div id="routetickets" class="content-form-body">
                            <div class="content-container">
                                <div id="ticketLocalesListContainer" class="options-container-wrapper ticket-locales-container tickets-container">
                                    <h2 class="route-tickets-tab-title">Selecione as localidades da rota</h2>
                                    <div class="ticket-options-wrapper">
                                        <div class="options-container">
                                            <div class="options-title-container">
                                                <div class="options-title">Código da localidade</div>
                                                <div class="options-title">Descrição da localidade</div>
                                            </div>
                                            <div class="option-wrapper">
                                                {% for locale in tickets_locales %}
                                                    <div class="option-container js-locale-option-container">
                                                        <option class="option list-option" id={{ locale.id }} value={{ locale.id }}>{{ locale.locale }}</option>
                                                        <div class="option list-option">{{ locale.presentation_name }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ticketGroupsListContainer" class="options-container-wrapper ticket-groups-container tickets-container">
                                    <h2 class="route-tickets-tab-title">Selecione os grupos da rota</h2>
                                    <div class="ticket-options-wrapper">
                                        <div class="options-container">
                                            <div class="options-title-container">
                                                <div class="options-title">Nome do grupo</div>
                                            </div>
                                            <div class="option-wrapper">
                                                {% for group in tickets_groups %}
                                                    <div class="option-container js-group-option-container">
                                                        <option class="option list-option" id={{ group.id }} value={{ group.id }}>{{ group.name }}</option>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <button onclick="toggleOptions()" style="display: none">Opções</button>
                </div>
                <div class="page-actions">
                    <a href="/routes">
                        <div>
                            <button id="goBackToRoutes">Voltar</button>
                        </div>
                    </a>
                    <div id="save2">
                        <button id="save" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="/static/js/routes_new.js"></script>
    <script src="/static/js/routes_new_send.js"></script>


{% endblock %}