{% extends "template.html" %}
{% block conteudo %}

    <link rel="stylesheet" href="/static/css/routes_new.css">

    <label>
        <input id="routeId" hidden="hidden" value="{{ route_id }}">
    </label>

    <div class="container">
        <div class="main-content">
            <h1>Nova rota</h1>
            <table class="wizard">
                <tr>
                    <th class="wizard-header wizard-step clickable selected" rowspan="3" id="routeInfoAndRecipients">Dados e destinatários da rota</th>
                    <th class="wizard-header wizard-step" colspan="8" id="routeTicketHeader">Tickets da rota</th>
                </tr>
                <tr>
                    <td class="wizard-step clickable ticket-step" id="routeTicketLocales">Localidades</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketGroups">Grupos</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketFields">Campos de tickets</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketTags">Tags de tickets</td>

                </tr>
                <tr>
                    <td class="wizard-step clickable ticket-step" id="routeTicketOrganizations" style="cursor: not-allowed">Organizações</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketOrganizationFields" style="cursor: not-allowed">Campos de organizações</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketEndUsers" style="cursor: not-allowed">Usuários</td>
                    <td class="wizard-step clickable ticket-step" id="routeTicketUserFields" style="cursor: not-allowed">Campos de usuários</td>
                </tr>
            </table>
            <div class="content-form scrollable">
                <div class="content-form-container">
                    <div id="routeInfoAndRecipientsContainer">
                        <h2>Dados da rota</h2>
                        <div id="routeData" class="content-form-header">
                            <div class="form-item form-item-status">
                                <h3 class="route-status-title">Status da rota</h3>
                                <div onclick="toggleCheckbox()" class="status-container" id="routeStatusWrapper">
                                    <input type="checkbox" id="routeStatus" class="active-input" checked="checked"/>
                                    <label id="active-label" class="active-label" for="routeStatus"></label>
                                </div>
                            </div>

                            <div class="form-item form-item-status">
                                <h3 class="route-name-title">Nome da rota</h3>
                                <div class="name-container" id="routeNameWrapper">
                                    <input type="text" id="routeName" class="form-item-input-text"/><label class="route-name-input" for="routeName"></label>
                                </div>
                            </div>
                        </div>


                        <h2>Destinatários da rota</h2>
                        <div id="routeUsers" class="content-form-body">
                            <div class="content-container">
                                <h3>Selecione o tipo de destinatário</h3>
                                <div class="selector-container">
                                    <div class="selector-option-container">
                                        <input class="radio-selector" type="radio" id="recipient-users" name="ticket-recipient-type" value="recipient-users">
                                        <label class="radio-selector-label" for="recipient-users">Usuários</label>
                                    </div>
                                    <div class="selector-option-container">
                                        <input class="radio-selector" type="radio" id="recipient-groups" name="ticket-recipient-type" value="recipient-groups">
                                        <label class="radio-selector-label" for="recipient-groups">Grupos</label>
                                    </div>
                                </div>

                                <div id="recipientsUsersListContainer" class="options-container-wrapper recipient-users-container recipients-container" hidden="hidden">
                                    <h4>Selecione quais usuários receberão os tickets</h4>
                                    <div class="options-container">
                                        <div class="options-title-container">
                                            <div class="options-title">Nome do Usuário</div>
                                        </div>
                                        <div class="option-wrapper">
                                            {% for user in recipient_users %}
                                                <div class="option-container js-user-option-container">
                                                    <option class="option list-option recipient-user-option" id={{ user.zendesk_users_id }} value={{ user.zendesk_users_id }}>{{ user.name }}</option>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div id="recipientsGroupsListContainer" class="options-container-wrapper recipient-groups-container recipients-container" hidden="hidden">
                                    <h4>Selecione os grupos cujos membros receberão os tickets</h4>
                                    <div class="options-container">
                                        <div class="options-title-container">
                                            <div class="options-title">Nome do Grupo</div>
                                            <div class="options-title">Usuários no Grupo</div>
                                        </div>
                                        <div class="option-wrapper">
                                            {% for group in recipient_groups %}
                                                <div class="option-container js-group-option-container">
                                                    <option class="option list-option recipient-group-option" id={{ group.id }} value={{ group.id }}>{{ group.name }}</option>
                                                    <div class="option list-option">{{ group.users }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="routeTicketsContainer" hidden="hidden">
                        <div id="routetickets" class="content-form-body">
                            <div class="content-container">
                                <div id="ticketLocalesListContainer" class="options-container-wrapper ticket-locales-container tickets-container">
                                    <h2 class="route-tickets-tab-title">Selecione as localidades da rota</h2>
                                    <div class="ticket-options-wrapper">
                                        <div class="options-container">
                                            <div class="options-title-container">
                                                <div class="options-title">Código da localidade</div>
                                                <div class="options-title">Descrição da localidade</div>
                                            </div>
                                            <div class="option-wrapper">
                                                {% for locale in ticket_locales %}
                                                    <div class="option-container js-locale-option-container">
                                                        <option class="option list-option ticket-locale-option" id={{ locale.id }} value={{ locale.id }}>{{ locale.locale }}</option>
                                                        <div class="option list-option">{{ locale.presentation_name }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ticketGroupsListContainer" class="options-container-wrapper ticket-groups-container tickets-container">
                                    <h2 class="route-tickets-tab-title">Selecione os grupos da rota</h2>
                                    <div class="ticket-options-wrapper">
                                        <div class="options-container">
                                            <div class="options-title-container">
                                                <div class="options-title">Nome do grupo</div>
                                            </div>
                                            <div class="option-wrapper">
                                                {% for group in ticket_groups %}
                                                    <div class="option-container js-ticket-group-option-container">
                                                        <option class="option list-option ticket-group-option" id={{ group.id }} value={{ group.id }}>{{ group.name }}</option>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div id="ticketFormsAndFieldsContainer" class="options-container-wrapper ticket-fields-container tickets-container">
                                    <h2 class="route-tickets-tab-title">Campos de tickets da rota</h2>

                                    <div id="ticketFormsWrapper" class="ticket-form-filter-container filter-container">
                                        <h3 style="margin-top: 1.5em">Selecione um formulário</h3>
                                        <div class="dropdown-menu-button-container">
                                            <form>
                                                <label aria-label="Selecione">
                                                    <input class="chosen-value chosen-form-value" type="text" value="" placeholder="Selecione">
                                                </label>
                                                <ul id="forms" class="form-values-list values-list">
                                                    {% for form in ticket_forms %}
                                                        <li class="form-dropdown-menu-option dropdown-menu-option" id={{ form.id }} value={{ form.id }}>{{ form.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </form>
                                        </div>
                                    </div>

                                    <div id="ticketFieldsWrapper" class="ticket-field-filter-container filter-container">
                                        <h3 style="margin-top: 1.5em">Selecione um Campo</h3>
                                        <div class="dropdown-menu-button-container">
                                            <form>
                                                <label aria-label="Selecione">
                                                    <input class="chosen-value chosen-field-value" type="text" value="" placeholder="Selecione">
                                                </label>
                                                <ul id="formFields" class="field-values-list values-list">
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>







                                <div id="ticketTagsListContainer" class="options-container-wrapper ticket-tags-container tickets-container">
                                    <div class="header-with-search">
                                        <h2 class="route-tickets-tab-title">Selecione as tags da rota</h2>
                                        <div>
                                            <label for="tagSearchInput"></label>
                                            <input class="form-item-input-text" type="text" id="tagSearchInput" placeholder="Pesquisa">
                                        </div>
                                    </div>
                                    <div class="ticket-options-wrapper">
                                        <div class="options-container">
                                            <div class="options-title-container">
                                                <div class="options-title">Tag</div>
                                            </div>
                                            <div class="option-wrapper">
                                                {% for tag in ticket_tags %}
                                                    <div class="option-container js-tag-option-container">
                                                        <option class="option list-option ticket-tag-option" id={{ tag.id }} value={{ tag.id }}>{{ tag.tag }}</option>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <button onclick="toggleOptions()" style="display: none">Opções</button>
                </div>
                <div class="page-actions">
                    <a href="/routes">
                        <div>
                            <button id="goBackToRoutes">Voltar</button>
                        </div>
                    </a>
                    <div id="save2">
                        <button id="save" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="/static/js/routes_edit.js"></script>
    <script src="/static/js/routes_save.js"></script>


{% endblock %}