<html lang="en">
<head>
    <link rel="stylesheet" href="../static/app.css">
    <title>test</title>
</head>
    <body>
        <div class="container">
            <nav class="main-menu">
                <ul>
                    <li>
                        <a href="/">
                            <i class="fa fa-home fa-2x"><img class="nav-icon" src="../static/img/home.png" alt="Home Button"></i>
                            <span class="nav-text">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="has-subnav">
                        <a>
                            <i class="fa fa-users fa-2x"><img class="nav-icon" src="../static/img/person.png" alt="Users"></i>
                            <span class="nav-text">
                                Usuários
                            </span>
                        </a>
                        <ul class="nav-level-2">
                            <li class="nav-level-2-1">
                                <a href="/users">
                                    <i class="fa fa-users-register fa-2x"><img class="nav-icon" src="../static/img/category.png" alt="Users"></i>
                                    <span class="nav-text">
                                        Cadastro de usuários
                                    </span>
                                </a>
                            </li>
                            <li class="nav-level-2-2">
                                <a href="/groups">
                                    <i class="fa fa-users-register fa-2x"><img class="nav-icon" src="../static/img/category.png" alt="Users"></i>
                                    <span class="nav-text">
                                        Cadastro de Grupos
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-subnav">
                        <a href="/settings">
                            <i class="fa fa-users fa-2x"><img class="nav-icon" src="../static/img/settings.png" alt="Settings"></i>
                            <span class="nav-text">
                                Configurações
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a href="/reports">
                            <i class="fa fa-users fa-2x"><img class="nav-icon" src="../static/img/chart-pie.png" alt="Reports"></i>
                            <span class="nav-text">
                                Relatórios
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="logout">
                    <li>
                        <a href="#">
                            <i class="fa fa-logout fa-2x"><img src="../static/img/key.png" alt="Logout" class="nav-icon"></i>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block conteudo %}{% endblock %}
        </div>
    </body>
</html>