<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zendesk Routing</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
<div class="wrapper">
    <div class="nav-bar">
        <ul class="accordion-menu">
            <li onclick="window.location.href='/'">
                <div class="no-dropdown-link">
                    <div><img src="/static/img/home.png" alt="Home" class="menu-img"></div>
                    <div><span class="no-dropdown-link-text">Home</span></div>
                </div>
            </li>
            <li onclick="window.location.href='/routes'">
                <div class="no-dropdown-link">
                    <div><img src="/static/img/star.png" alt="Home" class="menu-img"></div>
                    <div><span class="no-dropdown-link-text">Rotas</span></div>
                </div>
            </li>
            <li>
                <div class="dropdown-link">
                    <div><img src="/static/img/person.png" alt="Home" class="menu-img"></div>
                    <div><span class="dropdown-link-text">Usuários</span></div>
                </div>
                <ul class="submenu-Items">
                    <li><a href="/users">Usuários</a></li>
                    <li><a href="/groups">Grupos</a></li>
                </ul>
            </li>
            <li>
                <div class="dropdown-link">
                    <div><img src="/static/img/settings.png" alt="Home" class="menu-img"></div>
                    <div><span class="dropdown-link-text">Configurações</span></div>
                </div>
                <ul class="submenu-Items">
                    <li><a href="/ticket-forms">Formulários</a></li>
                    <li><a href="/locales">Localidades</a></li>
                    <li><a href="/tags">Tags</a></li>
                </ul>
            </li>
        </ul>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block conteudo %}{% endblock %}

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="/static/js/app.js"></script>

</div>
</body>
</html>
