{% extends "template.html" %}
{% block conteudo %}

    <link rel="stylesheet" href="/static/css/users.css">

    <div class="container">
        <div class="main-content">
            <h1>Usuários</h1>
            <div id="contentTable" class="content-table">
                <div class="std-table" id="std-table">
                    <div class="std-thead" id="thead">
                        <span class="std-th th-id" data-sortby="id">ID</span>
                        <span class="std-th th-zendesk-user-id" data-sortby="zendesk_user_id">ID do Usuário no Zendesk</span>
                        <span class="std-th th-name" data-sortby="name">Nome</span>
                        <span class="std-th th-email" data-sortby="email">Email</span>
                        <span class="std-th th-status" data-sortby="status">Status</span>
                    </div>
                    <div class="std-body scrollable" id="tbody">
                        {% for user in kwargs['all_users'] %}
                            <div class="std-tr" data-id="{{ user.id }}">
                                <span class="std-td std-td-id">{{ user.id }}</span>
                                {% if user.zendesk_user_id %}
                                    <span class="std-td std-td-zendesk-user-id">{{ user.zendesk_user_id }}</span>
                                {% else %}
                                    <span class="std-td std-td-zendesk-user-id"></span>
                                {% endif %}
                                <span class="std-td std-td-name">{{ user.name }}</span>
                                <span class="std-td std-td-email">{{ user.email }}</span>

                                {% if user.routing_status == 0 %}
                                    <div class="std-td std-td-status status-container">
                                        <img src="/static/svg/status-offline.svg" alt="Status" class="users-status-img">
                                        <span class="std-td std-td-status">Offline</span>
                                    </div>
                                {% elif user.routing_status == 1 %}
                                    <div class="std-td std-td-status status-container">
                                        <img src="/static/svg/status-online.svg" alt="Status" class="users-status-img">
                                        <span class="std-td std-td-status">Online</span>
                                    </div>
                                {% else %}
                                    <div class="std-td std-td-status status-container">
                                        <img src="/static/svg/status-away.svg" alt="Status" class="users-status-img">
                                        <span class="std-td std-td-status">Ausente</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <ul class="options-list" id="options-list">
                        <li id="changeUserStatus" class="option-list-action">Alterar Status do Usuário</li>
                    </ul>
                    <button onclick="toggleOptions()">Opções</button>
                </div>
                <div class="page-actions">
                    <div><button id="delete" disabled="disabled">Excluir</button></div>
                    <div><button id="edit" disabled="disabled">Editar</button></div>
                    <div><a href="/users/new"><button id="new">+ Novo</button></a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/users.js"></script>


{% endblock %}