{% extends "template.html" %}
{% block conteudo %}

    <label>
        <input id="editUserId" hidden="hidden" value="{{ kwargs['user'].id }}">
    </label>

    <link rel="stylesheet" href="/static/css/users.css">

    <div class="container">
        <div class="main-content">
            <h1>Editar usuário</h1>
            <div id="contentTable" class="content-table scrollable">
                <h2>Dados do usuário</h2>
                <div class="user-data-wrapper">
                    <div onclick="toggleCheckbox()" class="user-status-container user-data-container" id="userStatusContainer">
                        <h3 class="user-status-title subtitle-container">Status</h3>
                        <div class="user-status-slider-container">
                            {% if kwargs['user'].active %}
                                <input type="checkbox" id="editUserStatus" class="active-input" checked="checked"/>
                                <label id="active-label" class="active-label" for="editUserStatus"></label>
                            {% elif not kwargs['user'].active %}
                                <input type="checkbox" id="editUserStatus" class="active-input"/>
                                <label id="active-label" class="active-label" for="editUserStatus"></label>
                            {% endif %}

                        </div>
                    </div>
                    <div class="user-name-container user-data-container" id="userNameContainer">
                        <h3 class="user-name-title">Nome do usuário</h3>
                        <input type="text" id="userName" value="{{ kwargs['user'].name }}" class="form-item-input-text rule-input"/>
                        <label class="user-name-input" for="userName"></label>
                    </div>
                    <div class="user-email-container user-data-container" id="userEmailContainer">
                        <h3 class="user-email-title">E-mail do usuário</h3>
                        <input type="text" id="userEmail" value="{{ kwargs['user'].email }}" class="form-item-input-text rule-input"/>
                        <label class="user-email-input" for="userEmail"></label>
                    </div>
                </div>

                <h2 class="zendesk-bind-title">Vínculo com o Zendesk</h2>
                <div class="zendesk-settings-wrapper">
                    <div id="zendeskUsersWrapper" class="zendesk-users-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Agente correspondente do Usuário no Zendesk</h3>
                        <div class="dropdown-menu-button-container">
                            <form>
                                <label aria-label="Selecione">
                                    <input id="{{ kwargs['user'].zendesk_users_id }}" class="chosen-value chosen-form-value zendesk-users-id-chosen-value" type="text" value="{{ 'Selecione' if not kwargs['user'].zendesk_user_id else kwargs['user'].zendesk_user_id ~ ' - ' ~ kwargs['zendesk_user_email'].email }}" placeholder="Selecione">
                                </label>
                                <ul id="zendeskUserId" class="user-values-list values-list">
                                    {% for user in kwargs['zendesk_users'] %}
                                        <li class="user-dropdown-menu-option dropdown-menu-option" id={{ user.id }} value={{ user.id }}>{{ user.zendesk_user_id }} - {{ user.email }}</li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                    </div>

                    <div id="zendeskSchedulesWrapper" class="zendesk-schedules-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Programação do usuário</h3>
                        <div class="dropdown-menu-button-container">
                            <form>
                                <label aria-label="Selecione">
                                    <input id="{{ kwargs['user'].zendesk_schedules_id }}" class="chosen-value chosen-form-value zendesk-schedules-id-chosen-value" type="text" value="{{ 'Selecione' if not kwargs['zendesk_schedule_name'].name else kwargs['zendesk_schedule_name'].name }}" placeholder="Selecione">
                                </label>
                                <ul id="zendeskSchedulesId" class="schedule-values-list values-list">
                                    {% for schedule in kwargs['zendesk_schedules'] %}
                                        <li class="schedule-dropdown-menu-option dropdown-menu-option" id={{ schedule.id }} value={{ schedule.id }}>{{ schedule.name }}</li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                    </div>

                    <div id="latamUserWrapper" class="latam-user-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Usuário LATAM?</h3>
                        <div class="selector-container">
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="latam-yes" name="latam-user" value="latam-yes" {{ 'checked="checked"' if kwargs['user'].latam_user == 1 else '' }}>
                                <label class="radio-selector-label" for="latam-yes">Sim</label>
                            </div>
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="latam-no" name="latam-user" value="latam-no" {{ 'checked="checked"' if kwargs['user'].latam_user == 0 else '' }}>
                                <label class="radio-selector-label" for="latam-no">Não</label>
                            </div>
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="latam-both" name="latam-user" value="latam-both" {{ 'checked="checked"' if kwargs['user'].latam_user == 2 else '' }}>
                                <label class="radio-selector-label" for="latam-both">Ambos</label>
                            </div>
                        </div>
                    </div>

                    <div id="rockStarWrapper" class="rock-star-user-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Usuário Rock Star?</h3>
                        <div class="selector-container">
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="rock-star-yes" name="rock-star-user" value="rock-star-yes" {{ 'checked="checked"' if kwargs['user'].rock_star_user == 1 else '' }}>
                                <label class="radio-selector-label" for="rock-star-yes">Sim</label>
                            </div>
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="rock-star-no" name="rock-star-user" value="rock-star-no" {{ 'checked="checked"' if kwargs['user'].rock_star_user == 0 else '' }}>
                                <label class="radio-selector-label" for="rock-star-no">Não</label>
                            </div>
                        </div>
                    </div>

                    <div id="jnjContestationWrapper" class="jnj-contestation-user-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Atende contestações da J&J?</h3>
                        <div class="selector-container">
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="jnj-contestation-yes" name="jnj-contestation-user" value="jnj-contestation-yes" {{ 'checked="checked"' if kwargs['user'].jnj_contestation_user == 1 else '' }}>
                                <label class="radio-selector-label" for="jnj-contestation-yes">Sim</label>
                            </div>
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="jnj-contestation-no" name="jnj-contestation-user" value="jnj-contestation-no" {{ 'checked="checked"' if kwargs['user'].jnj_contestation_user == 0 else '' }}>
                                <label class="radio-selector-label" for="jnj-contestation-no">Não</label>
                            </div>
                        </div>
                    </div>

                    <div id="jnjHomologationWrapper" class="jnj-homologation-user-filter-container filter-container">
                        <h3 class="zendesk-bind-sub-title">Atende homologações da J&J?</h3>
                        <div class="selector-container">
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="jnj-homologation-yes" name="jnj-homologation-user" value="jnj-homologation-yes" {{ 'checked="checked"' if kwargs['user'].jnj_homologation_user == 1 else '' }}>
                                <label class="radio-selector-label" for="jnj-homologation-yes">Sim</label>
                            </div>
                            <div class="selector-option-container">
                                <input class="radio-selector" type="radio" id="jnj-homologation-no" name="jnj-homologation-user" value="jnj-homologation-no" {{ 'checked="checked"' if kwargs['user'].jnj_homologation_user == 0 else '' }}>
                                <label class="radio-selector-label" for="jnj-homologation-no">Não</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <div></div>
                </div>
                <div class="page-actions">
                    <a href="/users">
                        <div>
                            <button id="goBackToUsers">Voltar</button>
                        </div>
                    </a>
                    <div><button id="save">Salvar</button></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/users_edit.js"></script>
    <script src="/static/js/users_save.js"></script>

{% endblock %}