{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        <div class="main-content">
            <h1>Usuários</h1>
            <div id="contentTable" class="content-table">
                <div class="std-table" id="std-table">
                    <div class="std-thead" id="thead">
                        <span class="std-th th-id" data-sortby="id">ID</span>
                        <span class="std-th th-zendesk-user-id" data-sortby="zendesk_user_id">ID do Usuário no Zendesk</span>
                        <span class="std-th th-name" data-sortby="name">Nome</span>
                        <span class="std-th th-email" data-sortby="name">E-mail</span>
                    </div>
                    <div class="std-body scrollable" id="tbody">
                        {% for user in kwargs['users'] %}
                            <div class="std-tr" data-id="{{ user.ZendeskUsers.id }}">
                                <span class="std-td std-td-id">{{ user.ZendeskUsers.id }}</span>
                                <span class="std-td std-td-zendesk-user-id">{{ user.ZendeskUsers.zendesk_user_id }}</span>
                                <span class="std-td std-td-name">{{ user.ZendeskUsers.name }}</span>
                                <span class="std-td std-td-name">{{ user.ZendeskUsers.email }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <ul class="options-list" id="options-list">
                        <li><a href="/get-zendesk-users">Atualizar Usuários</a></li>
                    </ul>
                    <button onclick="toggleOptions()">Opções</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}