{% extends "template.html" %}
{% block content %}

    <div class="container">
        <div class="main-content">
            <h1>Visualizações</h1>
            <div id="contentTable" class="content-table">
                <div class="std-table" id="std-table">
                    <div class="std-thead" id="thead">
                        <span class="std-th th-id" data-sortby="id">ID</span>
                        <span class="std-th th-zendesk-locale-id" data-sortby="zendesk_locale_id">ID no Zendesk</span>
                        <span class="std-th th-name" data-sortby="identifier">Nome</span>
                    </div>
                    <div class="std-body scrollable" id="tbody">
                        {% for view in kwargs['views'] %}
                            <div class="std-tr" data-id="{{ view.id }}">
                                <span class="std-td std-td-id">{{ view.id }}</span>
                                <span class="std-td std-td-zendesk-locale-id">{{ view.zendesk_view_id }}</span>
                                <span class="std-td std-td-name">{{ view.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-items">
                <div class="options">
                    <ul class="options-list" id="options-list">
                        <li><a href="/get-zendesk-views">Atualizar visualizações</a></li>
                    </ul>
                    <button onclick="toggleOptions()">Opções</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}